.zero-fieldset-vertical {
  padding: 16px;
  border: 1px dashed #d9d9d9;

  > .ant-row {
    > .ant-form-item-label,
    > .ant-form-item-control-wrapper {
      width: 100%;
    }

    > .ant-form-item-label {
      float: none;
      text-align: left;
    }
  }
}

.zero-group {
  .ant-input {
    margin-right: 10px;
    width: auto;
  }

  .zero-input {
    display: inline-block;
    margin-right: 10px;
  }
}
