.zero-table-module {
  padding: 16px;
}

.zero-table-search {
  margin-bottom: 16px;
  padding-top: 10px;

  .zero-fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .ant-form-item {
      display: flex;
      flex-direction: row;
      margin-right: 0;
      margin-bottom: 10px;
      width: 33.3%;
    }

    .ant-form-item-label {
      width: 30%;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }

    .ant-calendar-picker {
      width: 100%;
    }
  }

  .ant-form {
    > .ant-row {
      display: block;
      text-align: right;
    }
  }
}

.zero-operations {
  margin-bottom: 16px;

  .zero-button {
    margin-right: 8px;
  }
}

.zero-table {
  zoom: 1;

  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }

  .zero-column-actions {
    margin-left: -8px;

    .zero-button {
      margin-left: 8px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .zero-table-search {
    .zero-fieldset {
      .ant-form-item {
        display: flex;
        flex-direction: row;
        margin-right: 0;
        width: 25%;
      }
    }
  }
}
